<html>
	<head>
	    <title>Liste des contacts</title>
	    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	    <!-- Bootstrap. @see version in pom.xml -->
      <link th:href="@{/webjars/bootstrap/3.3.7-1/css/bootstrap.min.css}"
                rel="stylesheet" media="screen"/>
                 
      <script src="http://code.jquery.com/jquery.js"></script>
      <script th:src="@{/webjars/bootstrap/3.3.7-1/js/bootstrap.min.js}"></script>  
	</head>
    <body>
    	<h1>Liste des contacts</h1>
    	<table class="table table-bordered">
	    	<tr>
	    		<td>Prénom</td>
	    		<td>Nom</td>
	    		<td>Numéro de téléphone</td>
	    		<td>Email</td>
	    		<td>Supprimer</td>
	    		<td>Modifier</td>
	    	</tr>
	       <tr th:each="e : ${list}">
	       		<tr>
		      		<td th:text="${e.getFirstName()}"/>
		      		<td th:text="${e.getLastName()}"/>
		      		<td th:text="${e.getNumberPhone()}"/>
		      		<td th:text="${e.getEmail()}"/>
		      		<td><input type="button" class="btn btn-danger" th:onclick="${e.getUrlDelete()}" value="Supprimer ce contact"/></td>
	      			<td><input type="button" class="btn btn-warning" th:onclick="${e.getUrlModify()}"  value="Modifier un contact" /></td>
		      	</tr>
		      	<tr>
		      		
	      		</tr>
			</tr>
		</table>
		<input type="button" class="btn btn-default" onclick="location.href='/form.html'"  value="Ajouter un contact" />
    </body>
</html>